## Neon DB user and password
DB_USER=NEON_DB_USER
DB_PASSWORD=NEON_DB_PASSWORD

## Neon DB host for R2DBC
DB_R2DBC_URL_DEV="R2DBC_URL_DEV"

## Neon DB host for Flyway
DB_HOST_FLYWAY="JDBC_URL_FLYWAY"

## Resids serverless
REDIS_URL="REDIS_URL"

## Server port
PORT=PORT_NUMBER

JWT_ACCESS_SECRET=JWT_ACCESS_SECRET_SERVER

JWT_REFRESH_SECRET=JWT_REFRESH_SECRET_SERVER